services:
  db:
    image: postgres:18
    container_name: postgres_container
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: rootpwd
      POSTGRES_DB: all-citizen
    ports:
      - "6000:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
